@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --cor0: #55DF75;
    --cor1: #11D940;
    --cor2: #0DA631;
    --cor3: #07591A;
    --cor4: #1D5C2C;
    --fontetitulo: 'Libre Bodoni', serif;
    --fontetexto:  Arial, Helvetica, sans-serif;
    --fontesub: 'Patrick Hand', cursive;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    display: block;
    text-align: center;
    padding: 40px 11px 10px 11px;
    max-width: 100%;
    min-width: 430px;
}

header > h1 {
    font-family: var(--fontetitulo);
    text-shadow: 2px 2px 0px black;
    color: white;
    font-size: 2.5em;
}

header > p {
    padding-bottom: 40px;
    color: white;
}

nav {
    background-color: var(--cor3);
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
    max-width: 100%;
    min-width: 430px;
    border: 0px;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: white;
    border-radius: 3px;
    padding: 10px;
}

body {
    background-color:var(--cor0);
}

main h3 {
    font-family: var(--fontesub);
    background-color: var(--cor3);
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

main {
    margin: auto;
    background-color: white;
    padding: 10px;
    max-width: 800px;
    min-width: 430px;
}

main p {
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-family: var(--fontetexto);
    line-height: 1.3em;
    
}

main h1 {
    font-family: var(--fontesub);
}

main h2 {
    background-image: linear-gradient(to right, var(--cor4), var(--cor0));
    font-family: var(--fontesub);
    color: white;
    padding: 3px;
 }

 .video{
    background-color: var(--cor3); /* Estetica*/
    margin: 0px -10px 30px -10px; /* Adapitável a cada espaço do video*/
    padding: 20px; /* Adpitável a cada espaço do video*/
    padding-bottom: 50%;
    position: relative; /* Todo video deve ter e o seletor*/
}

div.video > iframe {
    position: absolute; /* Todo video deve ter esse seletor e essa configuração*/

    top: 5%; /* De video para video, a conf*/

    left: 5%; /* De video para video, a conf*/

    width: 90%; /* De video para video, a conf*/

    height: 90%; /* De video para video a conf*/

}

 footer {
    background-color: var(--cor4);
    text-align: center;
    padding: 10px;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    max-width: 100%;
    min-width: 430px;
 }

 ul{
    background-color: var(--cor3);
    border-radius: 5px;
    border-radius: 0px 0px 5px 5px;
    color: white;
    line-height: 1.3em;
    list-style: inside;
    padding: 10px;
    columns: 2;
 }

 main img#caraeandroid {
    width: 50%;
 }